<div class="note">
	<div>
		<%= content_tag  :span, "#{note.title} (#{time_ago_in_words note.created_at} ago", class: "note-title" %>
		<%= link_to "delete note", [@book, note], method: :delete %>
	</div>
	<div><%= simple_format note.note %> </div>	
</div>