<!DOCTYPE html>
<html>
<head>
  <title>TodolistsM2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if logged_in? %>
		<div style="float: right;">
			Logged in as <%= current_user.username %> | 
			<%= link_to "Logout", logout_path, method: :delete %>
		</div>
	<% end %>

<%= yield %>

</body>
</html>
