<!DOCTYPE html>
<html>
<head>
  <title>Recipefinder423</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<p>Powered By Food2Fork.com</p>
</body>
</html>
