// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
	border-collapse: collapse;
}

td {
	padding: 20px;	
}

.even {
	background-color: #d6e1c3;
}