/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.book-title { font: bold 15px arial, sans-serif; }
.note-title { font: bold 12px arial, sans-serif; }
.book { padding-bottom: 10px; }

.note {
	background: lightgray;
	margin: 15px;
	padding: 15px;
	border: 1p solid;
	border-radius: 3px;
	width: 300px;
}

#notice { color: green; }
#alert { color: red; }
.field { margin: 5px; }
.actions { margin: 10px 0; }