<h1>Searching for - <%= @search_term %></h1>

<% if @foods.empty? %>
	<p>No recipes found with relevant information.. Sorry</p>
<% else %>

	<table border="1">
		<tr>
			<th>Image</th>
			<th>Title</th>
			<th>Publisher</th>
			<th>Sicial rank</th>
			<th>Source</th>
		</tr>
		<% @foods.each do |food| %>
			<tr class=<%= cycle('even', 'odd') %>>
				<td><center><%= image_tag(food["image_url"], :class => "img_preview") %></center></td>
				<td><%= food["title"] %></td>
				<td><%= food["publisher"] %></td>
				<td><%= food["social_rank"] %></td>
				<td><%= food["source_url"] %></td>
			</tr>
		<% end %>
	</table>
<% end %>